<h1>Questions</h1>

<table class="table-auto border border-collapse">
  <thead>
    <tr>
      <th class="px-4 py-2 border">カテゴリー名</th>
      <th class="px-4 py-2 border">タイトル</th>
      <th class="px-4 py-2 border">本文</th>
      <th class="px-4 py-2 border">オーディオ</th>
      <th class="px-4 py-2 border">回答</th>
      <th class="px-4 py-2 border">アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td class="border px-4 py-2"><%= question.category.name %></td>
        <td class="border px-4 py-2"><%= question.title %></td>
        <td class="border px-4 py-2"><%= question.body %></td>
        <td class="border px-4 py-2">
          <% if question.question_audio? %>
            <%= audio_tag question.question_audio.url, controls: true %>
          <% end %>
        </td>
        <td class="border px-4 py-2">
          <ul>
            <% question.answers.each do |answer| %>
              <li>
                <%= answer.body %>
                <% if answer.is_correct %>
                  <span class="correct-answer">(Correct)</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </td>
        <td class="border px-4 py-2">
          <%= link_to "Edit", edit_admin_question_path(question) %>
          <%= link_to "Delete", admin_question_path(question), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Question', new_admin_question_path %>
